.App {
  text-align: center;
}

.custom-navbar {
  height: 5vh;
  display: flex;
  padding: 1em;
  justify-content: start;
  align-items: center;
  font-weight: bold;
}

.custom-navbar span {
  margin-left: 0.5em;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
}
